@import 'variables';

.form-group {
  position: relative;
  display: flex;

  &:not(:last-of-type) {
    margin-bottom: 1rem;
  }

  input {
    flex: 1;
    background: $white;
    apearance: none;
    border: none;
    padding: 0.5rem 0.75rem;
    border-radius: 5px;
    border: 1px solid $light-grey;
    outline: none;

    &.ng-touched.ng-invalid {
      border-color: $danger;
      margin-bottom: 1rem;

      & + button {
        border-color: $danger;
      }

      & ~ .form-group-error {
        position: absolute;
        bottom: 0;
      }
    }
  }

  &--with-btn {
    input {
      border-radius: 5px 0 0 5px;
    }
    .btn {
      height: 33px;
      width: 33px;
      text-align: center;
      font-weight: bold;
      border: 1px solid $light-grey;
      border-left: none;
      border-radius: 0 5px 5px 0;
    }
  }

  & + button {
    margin-top: 1rem;
  }

  .form-group-error {
    margin: 0;
    font-size: 12px;
    color: $danger;
  }
}
