@import 'src/styles/variables';

.bowling-frame {
  display: inline-block;
  &:not(&--last) {
    margin-right: 1rem;
  }

  .roll-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 0.5rem;

    .roll {
      width: 20px;
      height: 20px;
      text-align: center;
      border: 1px solid $white;

      &:not(:first-child) {
        margin-left: 3px;
      }

      &-type {
        &-STRIKE {
          content: 'X';
        }
      }
    }
  }

  .score {
    height: 1.5rem;
    line-height: 1.5rem;
  }
}
