<div
  *ngIf="bowlingFrame"
  class="bowling-frame"
  [class.bowling-frame--closed]="bowlingFrame.closed"
  [class.bowling-frame--last]="bowlingFrame.isLastFrame"
>
  <div class="roll-container">
    <div class="roll roll-type--{{ bowlingFrame.rolls[0]?.rollType || 'EMPTY' }} e2e--frame-roll-1">
      {{ bowlingFrame.rolls[0] | score }}
    </div>
    <div class="roll roll-type--{{ bowlingFrame.rolls[1]?.rollType || 'EMPTY' }} e2e--frame-roll-2">
      {{ bowlingFrame.rolls[1] | score }}
    </div>
    <div
      class="roll roll-type--{{ bowlingFrame.rolls[2]?.rollType || 'EMPTY' }} e2e--frame-roll-3"
      *ngIf="bowlingFrame.isLastFrame"
    >
      {{ bowlingFrame.rolls[2] | score }}
    </div>
  </div>
  <div class="score">{{ bowlingFrame.rolls.length > 0 ? bowlingFrame.completeScore : '' }}</div>
</div>
