<div class="container">
  <h1>Bowling</h1>
  <app-bowling-game
    *ngIf="gameService?.game"
    [game]="gameService.game"
    (end)="gameService.endGame()"
    (restart)="gameService.restartGame()"
  ></app-bowling-game>
  <app-players-form *ngIf="!gameService?.game" (startGame)="gameService.newGame($event)"></app-players-form>
</div>
