@import 'src/styles/variables';

app-bowling-game {
  .frame-list {
    list-style: none;
    padding-left: 0;

    li {
      display: inline-block;
      margin-right: 5px;
    }
  }

  .frame--active {
    .roll-type--EMPTY {
      box-shadow: 0px 0px 3px 1px #f1e84d;
    }
    .roll-type--EMPTY ~ .roll-type--EMPTY {
      box-shadow: none;
    }
  }

  .throw-row {
    display: flex;

    .throw {
      padding: 5px;
      border: 1px solid #c9c9c9;
    }
  }

  .game-actions,
  .roll-btn-row {
    display: flex;
    flex-direction: row;

    > * {
      flex: 1;
    }
  }

  .player {
    &:not(:last-child) {
      padding-bottom: 0.5rem;
      margin-bottom: 1rem;
      border-bottom: 1px solid #ccd6d6;
    }
    .player-name {
      font-weight: bold;
      margin-bottom: 0.5rem;
    }
  }

  .frames {
    display: flex;

    app-bowling-frame {
      display: block;
    }
  }
}
