<div class="card" *ngIf="game">
  <div class="card-body">
    <div class="player" *ngFor="let bowlingPlayer of game.players">
      <div class="player-name">{{ bowlingPlayer.name }}</div>
      <div class="frames">
        <app-bowling-frame
          *ngFor="let bowlingFrame of bowlingPlayer.bowlingFrames"
          [bowlingFrame]="bowlingFrame"
          [class.frame--active]="bowlingFrame === game.currentPlayer.currentFrame"
        ></app-bowling-frame>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <div class="roll-btn-row" *ngIf="!game.currentPlayer.currentFrame.closed">
      <button
        class="btn btn-neumorphic e2e--points-{{ i }}"
        *ngFor="let item of scoreButtons; index as i"
        [disabled]="i > game.currentPlayer.currentFrame.pinsLeft"
        (click)="game.scorePoints(i)"
      >
        {{ i }}
      </button>
    </div>
    <div class="game-actions">
      <button
        class="btn btn-neumorphic e2e--restart"
        *ngIf="game.currentPlayer.currentFrame.closed"
        (click)="restart.emit()"
      >
        RESTART
      </button>
      <button class="btn btn-neumorphic e2e--end" *ngIf="game.currentPlayer.currentFrame.closed" (click)="end.emit()">
        Ende
      </button>
    </div>
  </div>
</div>
