@import 'styles/variables';
@import 'styles/forms';

body {
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-height: 100vh;
  background: $background;
  font-family: 'Open Sans', sans-serif;
  color: #3d4848;
}

.card {
  border-radius: 20px;
  background: #b8c6c6;
  box-shadow: 20px 20px 60px #9ca8a8, -20px -20px 60px #d4e4e4;
  margin: 20px 0;
  padding: 2rem;
  min-width: 30vw;

  .card-footer:not(:empty) {
    margin-top: 1rem;
  }
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.btn {
  appearance: none;
  background: none;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  padding: 5px;
  font-weight: bold;
  transition: 0.2s ease-in-out;
  border: 2px solid $light-grey;
  color: inherit;

  &:disabled {
    color: lighten($light-grey, 10);
    border-color: lighten($light-grey, 10);
    cursor: default;
  }

  &:not(:disabled) {
    &:hover {
      border-color: $white;
    }

    &:active {
      color: $white;
    }
  }

  &.btn-outline {
  }

  &--full-width {
    width: 100%;
  }

  &.btn-neumorphic {
    background: linear-gradient(145deg, #c5d4d4, #a6b2b2);
    margin: 10px 10px 0;
    text-transform: uppercase;

    &:first-of-type {
      margin-left: 0;
    }
    &:last-of-type {
      margin-right: 0;
    }
    &:not(:disabled) {
      box-shadow: 5px 5px 10px #9ca8a8, -5px -5px 10px #d4e4e4;

      &:active {
        background: linear-gradient(145deg, #a6b2b2, #c5d4d4);
        box-shadow: 5px 5px 10px #abb8b8, -5px -5px 10px #c5d4d4;
        color: $white;
      }
    }
  }
}
