<div class="card player-form-card">
  <div class="card-body">
    <h2>Spieler</h2>
    <div class="form-group form-group--with-btn" *ngFor="let control of form.controls; index as i">
      <input type="text" [formControl]="control" placeholder="Name" />
      <button class="btn btn-remove" (click)="form.removeAt(i)">X</button>
      <p class="form-group-error" *ngIf="control.touched && control.errors?.required">Pflichtfeld</p>
    </div>
    <p class="form-group-error" *ngIf="form.length < 1">Mindestens ein Spieler hinzufügen</p>
    <p class="form-group-error" *ngIf="form.value.length >= maxLength">Maximale Anzahl an Spielern erreicht</p>
    <button
      class="btn btn-outline btn--full-width e2e--add-player"
      [disabled]="form.value.length >= maxLength"
      (click)="addPlayer()"
    >
      weiterer Spieler
    </button>
  </div>
  <div class="card-footer">
    <button
      class="btn btn-neumorphic btn-primary btn--full-width e2e--start-game"
      [disabled]="form.value.length < 1 || form.invalid"
      (click)="onStartGame()"
    >
      Spiel starten
    </button>
  </div>
</div>
